<template>
  <div id="app">
    <PurpleBox />
    <QButton>aaaaa</QButton>
  </div>
</template>

<script>
import PurpleBox from 'purple-box'
import { QButton } from 'ui-library'

export default {
  name: 'App',
  components: {
    PurpleBox,
    QButton
  }
}
</script>
